<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        width: 90%;
        height: 90vh;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add_items_in {
        width: 40%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    img {
        width: 100%;
        height: 60%;
        object-fit: contain;
    }

    h1 {
        font-size: 22px;
        font-family: sans-serif;
        font-weight: 300;
    }
</style>

<body>
    <div class="add_items_in">
        <img src="https://cdn4.iconfinder.com/data/icons/funds-and-finance/128/IF_001_f_credit_debet_card_add_plus-512.png"
            alt="">
        <h1>You items added in wallet</h1>
    </div>
</body>

</html>